@import url("https://fonts.google.com/specimen/Pinyon+Script?selection.family=Pinyon+Script&display=swap");

body {
  margin: 0;
}

.question {
  justify-content: space-between;
}

h1 {
  margin: 40px 200px;
  padding: 20px 0px; 
  font-size: 5vw;
  font-family: 'Raleway', sans-serif;
  text-shadow: rgb(42, 75, 88) 10px 10px 6px;
  text-align: center;
  color: goldenrod;
  border: solid goldenrod;
  box-shadow: rgb(42, 75, 88) 10px 10px 6px;
  background-color: rgb(46, 90, 107);
}

h2 {
  text-decoration: underline;

  column-gap: 30px;
  column-rule-style: solid;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: goldenrod;
}
.highscore {
  display: flex;
  justify-content: center;
}

.middle {
  width: 33%;
}

td {
  font-size: 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-shadow: rgb(42, 75, 88) 10px 10px 6px;

}

th {
  text-align: left;
}

table {
  width: 80vw;
}
